:host {
  --timeline-width: 1.25pt;
  --timeline-color: var(--state-icon-color);
  --gap-size: 8px;
  --timeline-inset: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.edit-button {
  margin-right: 1em;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-menu {
  margin-top: -8px;
  margin-bottom: -8px;
}

ha-time-input {
  --ha-icon-display: flex;
}

.edit-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edit-field-label {
  color: var(--secondary-text-color);
  font-size: var(--ha-font-size-s, 12px);
  line-height: var(--ha-line-height-condensed, 16px);
}

.weekday-select {
  display: block;
}

.weekday-select ha-dropdown-item {
  min-width: 100%;
}

.weekday-select::part(menu) {
  width: var(--weekday-dropdown-width);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

hui-generic-entity-row {
  position: relative;
}

hui-generic-entity-row.timeline::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: calc(100% - var(--timeline-inset));
  left: calc(20px - (var(--timeline-width) / 2));
  width: var(--timeline-width);
  height: calc(var(--timeline-inset) * 2 + var(--gap-size));
  background-color: var(--timeline-color);
  opacity: 0.2;
}

hui-generic-entity-row.timeline:first-child::before {
  display: none;
}

hui-generic-entity-row.timeline {
  &::before {
    background-color: var(--state-icon-color, --paper-item-icon-color);
  }
}

hui-generic-entity-row > * {
  --ha-icon-display: flex;
}

.remove-entry:not(:disabled) ha-icon {
  color: var(--error-color);
}

.edit-entry:not(:disabled) ha-icon {
  color: var(--primary-color);
}

ha-input {
  padding-bottom: 0;
}

.add-entry {
  margin-top: -8px;
  margin-bottom: -8px;
}

.add-entry:not(:disabled) ha-icon {
  color: var(--primary-color);
}

.empty-row {
  --paper-item-icon-color: var(--disabled-text-color);
  --state-icon-color: var(--disabled-text-color);
}
